<ion-app>
    <mdt-navbar></mdt-navbar>
  
    <ion-content class="ion-padding">
      <h1 class="titulo">Dúvidas?</h1>
      <h2 class="subtitulo">Entre em contato com o seu médico</h2>
  
      <div class="inicio">
        <img src="../assets/image/medica.png" alt="Médica">
  
        <div class="info">
          <h1 class="nome">Catarina Peixoto</h1>
          <h3 class="caracteristicas">Hospital Paulista</h3>
          <h3 class="caracteristicas">Especialista em otorrinolaringologia</h3>
        </div>
      </div>
  
      <ion-button color="warning">Entre em contato</ion-button>
    </ion-content>
  </ion-app>