<!--Menu principal!-->

<div>
  <ion-menu side="end" contentId="main-content">
    <ion-header>
      <ion-toolbar slot="end">
        <div slot="end" class="cabecalho-menu">
            <ion-title>Menu Lateral</ion-title>
          <ion-menu-button></ion-menu-button>
          <!--<ion-menu-button>X</ion-menu-button>-->
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
  </ion-menu>
  <div id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button slot="end" class="menu"></ion-menu-button>
        </ion-buttons>
        <div class="flex">
          <ion-img
            class="img-logo"
            src="assets/image/logo.png"
            alt="Logo"
          ></ion-img>
          <ion-title class="titulo-principal">MedTempo</ion-title>
        </div>
      </ion-toolbar>
    </ion-header>
    <!-- Fim Menu principal!-->
  </div>

</div>