<ion-app>
    <mdt-navbar></mdt-navbar>
    <ion-content class="ion-padding">
            <div class="inicio">
            <img src="../assets/image/josefilho.png" alt="José Filho">
    
              <div class="info">
                <h1 class="nomeuser">José Filho da Silva</h1>
                <h3 class="caracteristicas"><strong>Sexo:</strong> Masculino</h3>
                <h3 class="caracteristicas"><strong>Idade:</strong> 65 anos</h3>
              </div>
            </div>
    
            <ion-item-divider></ion-item-divider>
    
            <h1>Ficha Médica</h1>
    
            <h2>Queixa Principal:</h2>
            <p>O paciente relata uma série de problemas de saúde que o têm afetado significativamente.</p>
    
            <h2>Doenças Crônicas:</h2>
            <ul>
              <li>Diabetes mellitus tipo 2: diagnosticado há 10 anos, tratado com medicação oral.</li>
              <li>Hipertensão arterial: diagnosticada há 5 anos, em uso de anti-hipertensivos.</li>
              <li>Obesidade: IMC de 35, histórico de dificuldades para perda de peso.</li>
            </ul>
    
            <h2>Medicamentos Principais:</h2>
            <ul>
              <li>Metformina: medicamento oral frequentemente prescrito para controle da glicemia.</li>
              <li>Inibidores da enzima conversora de angiotensina (IECA): como o enalapril ou o lisinopril.</li>
              <li>Orlistat: medicamento que auxilia na perda de peso ao diminuir a absorção de gorduras no intestino.</li>
            </ul>
          </ion-content>
        </ion-app>