@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

ion-app{
  margin: 0%;
}

header{
  margin: 0 auto;
}

.img-logo{
  margin-top: 50px;
  height: 7rem;
  width: 10rem;
}

.titulo-principal{
  margin-top: 10px;
  text-align: center;
  color: #2D516C;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Roboto';
}
